.calculator-section {
  display: flex;
}

.intro {
  font-size: 30px;
  margin-top: 20px;
  margin-left: 40px;
}

.calc-wrapper {
  width: 350px;
  position: relative;
  left: 45%;
  top: 30px;
}

.input-wrapper {
  width: 100%;
  height: 100px;
  margin-bottom: 1px;
  background-color: gray;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 35px;
  color: white;
  padding-right: 10px;
  box-sizing: border-box;
}

.button-wrapper {
  width: 130px;
  height: 70px;
  margin: 1px;
  background-color: #d3d3d3;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  border: none;
}

.raw {
  display: flex;
}
